.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.element {
  width: 110px;
  min-height: 100px;
  background: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.element:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0.22);
}

.element__symbol {
  font-size: 35px;
}

.element__name {
  font-size: 12px;
}
