.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 70px;
}

.main__container.blur {
  filter: blur(5px);
}

.main__header {
  width: 100%;
  height: 56px;
  background: #383f4c;
  color: #fff;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 40px;
  overflow-y: hidden;
  white-space: nowrap;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.26);
  z-index: 1;
}

.main__header a {
  width: 45px;
  height: inherit;
  display: inline-block;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  line-height: 35px;
  text-decoration: none;
  color: #fff;
}

.main__header a:active {
  background: #3c4455;
}

.element {
  width: 110px;
  min-height: 100px;
  background: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  user-select: none;
  animation: scaleUp 1s ease-out;
}

.element__symbol {
  font-size: 35px;
}

.element__name {
  font-size: 12px;
}

.modal,
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  visibility: hidden;
  opacity: 0;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal__overlay {
  background: transparent;
  z-index: -1;
}

.modal__container {
  background: #fff;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  top: 0;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.75,0,0.25,1);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.29);
}

.modal__container.show {
  transform: scale(1);
}

.modal__container.hide {
  transform: scale(0.1);
}

.modal__content {
  backface-visibility: hidden;
}

.modal__content,
.modal__content-details {
  width: 280px;
  height: 280px;
  padding: 15px;
  transform: rotateY(0);
  transition: 0.6s;
  transform-style: preserve-3d;
  user-select: none;
}

.modal__content-details {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.modal__content:active {
  transform: rotateY(-180deg);
}

.modal__content:active + .modal__content-details {

}

.modal__element-symbol {
  width: 60px;
  padding-left: 5px;
}

.modal__element-info,
.modal__element-symbol {
  float: left;
}

.modal__element-symbol p:first-child {
  margin-left: 4px;
  font-weight: 400;
}

.modal__element-symbol p:last-child {
  font-size: 35px;
}

.modal__element-info p {
  font-size: 21px;
}

.modal__element-info span b {
  font-weight: 500;
}

.modal__element-info span {
  display: block;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.modal__element-info {
  margin-top: 25px;
  margin-left: 20px;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
