.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: "";
  background: rgba(255,255,255,0.3);
  display: block;
  position: absolute;
  border-radius:  20%;
  padding-top:  240%;
  padding-left: 240%;
  opacity: 0;
  transition: all 0.5s;
  width: inherit;
  height: inherit;
}

.ripple:active::after {
  padding-top: 0;
  padding-left: 0;
  opacity: 1;
  transition: 0s;
}
